{% extends "template.html" %}
{% block conteudo %}
    <label for="fname"> <br>Aqui está a tabela de resultados: com os números digitados em "Maior Número" e "Menor Número", e todos os primos entre eles (incluindo-os, caso forem primos) em "Resultado".</label>
    <label for="fname"> Aperte em "Tentar novamente" para adicionar mais entradas em sua tabela. <br> </label>  

    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Menor Número</th>
                <th>Maior Número</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lista %}
                        <tr>
                            <td>{{ item.primeiro_numero }}</td>
                            <td>{{ item.segundo_numero }}</td>
                            <td>{{ item.primos }}</td>
                        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1> <br> </h1>
    <form action="{{ url_for('redirecionar') }}" method="post">
        <fieldset>
          <button type="submit" class="btn btn-primary btn-salvar">Tentar novamente</button>
        </fieldset>
    </form>
{% endblock %}