<!DOCTYPE html>


    <%- include('head'); %>

    <body class="container">
        <%- include('header'); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reprehenderit corporis asperiores, sit esse nisi aliquam repudiandae ut quod, quo molestiae deserunt tempora laudantium repellat deleniti aperiam magni consequatur recusandae?</p>
            </div>
        </main>

        <%- include('footer'); %>
    </body>

</html>